.router-music-list{
  height: calc(100% - 64px);
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
  background-color: #ffffff;
  overflow: hidden;
}
.slide-enter-active, .slide-leave-active {
  transition: all 0.5s
}
.slide-enter {
  transform: translate3d(100%, 0, 0);
}
.slide-leave-to {
  transform: translate3d(100%, 0, 0);
}
