@import "~common/scss/variable.scss";
.router-music-list{
  height: calc(100% - 56px);
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
  background-color: #ffffff;
  overflow: hidden;
  .wrapper{
    height: calc(100% - 60px);
    overflow: hidden;
  }
  .flex-contain{
    padding-bottom: 56px;
  }
  .playTop{
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
  }
  .play{
    height: 40px;
    line-height: 40px;
    display: flex;
    align-items: center;
    padding: 0 10px;
    background-color: #ffffff;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    .play-all{
      font-size: $font-size-lg;
      font-weight: bold;
      padding-left: 12px;
      line-height: 40px;
      display: flex;
      align-items: center;
    }
    .icon{
      font-size: 22px;
      float: left;
    }
  }
}
.slide-enter-active, .slide-leave-active {
  transition: all 0.5s
}
.slide-enter {
  transform: translate3d(100%, 0, 0);
}
.slide-leave-to {
  transform: translate3d(100%, 0, 0);
}
