// 统一整体规范
// 红色背景颜色
$background-r-color: rgba(221, 31, 21, 0.88);
// 小字号
$font-size-smm: 8px;
// 小字号
$font-size-sm: 10px;
// 中字号
$font-size-md: 12px;
// 大字号
$font-size-lg: 14px;
// 灰色字体
// 歌曲列表
$song-list-gray-font: #afafaf;
// 播放列表
$play-list-gray-font: #898989;
// 列表底部边框颜色
$border-bottom-gray: #ededed;
.red-bg-color{
  background-color: $background-r-color;
}
.text-ellipsis-one-line{
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.text-ellipsis-two-line{
  display: -webkit-box;
  text-overflow: ellipsis;
  overflow : hidden;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
