// 统一整体规范
// 红色背景颜色
$background-r-color: rgba(221, 31, 21, 0.88);
// 小字号
$font-size-sm: 12px;
// 中字号
$font-size-md: 16px;
// 大字号
$font-size-lg: 20px;
.red-bc-color{
  background-color: $background-r-color;
}

